* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.none {
  display: none;
}
body {
  background: #3f3f3f;
}
main {
  width: 380px;
  height: 100vh;
  margin: 0 auto;
  background: #505c72;
}

section {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  width: 110px;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}
button {
  cursor: pointer;
  position: relative;
  text-decoration: inherit;
  font-family: system-ui;
  padding: 8px 16px;
  color: #fff;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0;
  z-index: 1;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
button:after {
  content: '';
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: -1;
  position: absolute;
  background: #333;
  text-decoration: inherit;
  font-family: system-ui;
  text-align: center;
  border-radius: 50%;
}
button:active:after {
  background: #111;
}
.timer {
  font-size: 32px;
  text-transform: uppercase;
}
.timer,
.rest,
.contractions {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-position: left;
}

.first-screen .timer {
  background-image: linear-gradient(to left, #00c853, #b2ff59);
}
.first-screen button:active {
  background: linear-gradient(to right, #00c853, #b2ff59);
}
.first-screen button {
  background: linear-gradient(to left, #00c853, #b2ff59);
}

.second-screen .timer {
  background-image: linear-gradient(to left, #a07aff, #d53a9d);
}
.second-screen button:active {
  background: linear-gradient(to right, #a07aff, #d53a9d);
}
.second-screen button {
  background: linear-gradient(to left, #a07aff, #d53a9d);
}

table {
  width: 100%;
  border-spacing: 0;
}

table tr td {
  padding: 8px 16px;
}
table tr:not(:first-child) td {
  border-top: 1px solid #111;
}

.rest {
  background-image: linear-gradient(to left, #00c853, #b2ff59);
}

.contractions {
  background-image: linear-gradient(to left, #a07aff, #d53a9d);
}
